@mixin P-Btn {
    /* P/Btn */
    font-family: $Lufga-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    /* 28.8px */
    text-transform: capitalize;
}

@mixin Heading-H3 {
    /* Heading/H3 */
    font-family: $Lufga-font;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 43.2px */
    text-transform: capitalize;
}

@mixin P-Small {
    /* P/Small */
    font-family: $Lufga-font;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 23.4px */
}

@mixin Heading-H4 {

    /* Heading/H4 */
    font-family: $Lufga-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 28.8px */
    text-transform: capitalize;
}

@mixin P-Standard {

    /* P/Standard */
    font-family: $Lufga-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 28.8px */
}

@mixin Heading-H1 {

    /* Heading/H1 */
    font-family: $Lufga-font;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 64.8px */
    text-transform: capitalize;
}

@mixin Heading-M-H1 {
    /* Heading/M/H1 */
    font-size: 36px;
    line-height: 120%;
    /* 43.2px */
}

@mixin primary-btn {
    text-align: center;
    display: inline-block;
    padding: 13px 32px;
    border-radius: 29.455px;
    background: radial-gradient(50% 50% at 50% 50%, #7C54FA 0%, #683FEA 98.96%);
    box-shadow: 0px 0px 1px 4px rgba(255, 255, 255, 0.10), 0px 2px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px -4px 2px 0px rgba(0, 0, 0, 0.25) inset;
    color: white;
    @include P-Btn();

    &:hover {
        border-radius: 29.455px;
        background: radial-gradient(63.71% 63.64% at 50% 50%, #9172F3 35.94%, #683FEA 100%);
        box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px -4px 2px 0px rgba(0, 0, 0, 0.25) inset, 0px 0px 1px 4px rgba(255, 255, 255, 0.10), 0px 0px 180px 0px rgba(153, 23, 255, 0.50);
    }
}

@mixin secondary-btn {
    @include P-Btn();
    text-align: center;
    color: white;
    border-radius: 29.455px;
    padding: 13px 32px;
    border-radius: 29.455px;
    border: 1.5px solid #7C54FA;
    // box-shadow: 0px 0px 1px 4px rgba(255, 255, 255, 0.10), 0px 2px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px -4px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

@mixin Heading-H2 {
    /* Heading/H2 */
    font-family: $Lufga-font;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 50.4px */
    text-transform: capitalize;
}

@mixin Heading-M-H2 {
    /* Heading/M/H2 */
    font-family: $Lufga-font;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 33.6px */
    text-transform: capitalize;
}

@mixin P-Large {
    /* P/Large */
    font-family: $Lufga-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 36px */
}