@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@media screen and (max-width: 991px) {
  .nighthawks-left-img-bottom {
    margin-top: -17px;
  }
  .footer-home {
    margin-top: 0;
  }
  .common-heading-sec h1 {
    /* Heading/M/H1 */
    font-size: 36px;
    line-height: 120%;
    /* 43.2px */
    margin-bottom: 16px;
  }
  .common-heading-sec p {
    margin-bottom: 24px;
  }
  .second-common-heading h5 {
    /* Heading/M/H2 */
    font-family: "Lufga";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 33.6px */
    text-transform: capitalize;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 99999;
    background: #191A26;
    padding: 23px 0;
  }
  header #menu-sec {
    background: url(../images/menu-sec-bg.png) no-repeat center center;
    background-size: cover;
  }
  header #menu-sec .modal-content {
    background: transparent;
  }
  header #menu-sec .modal-header {
    padding: 23px 24px;
    border: 0;
  }
  header #menu-sec nav {
    margin-top: 100px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
  }
  header #menu-sec nav a {
    /* Heading/H3 */
    font-family: "Lufga";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 43.2px */
    text-transform: capitalize;
    color: white;
    text-align: center;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  header #menu-sec nav a:hover {
    color: #9F85EC;
  }
  header #menu-sec nav a:hover::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 2px;
    background: url(../images/right-line.svg) no-repeat;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    right: -41px;
  }
  header #menu-sec nav a:hover::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 2px;
    background: url(../images/left-line.svg) no-repeat;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    left: -41px;
  }
  footer {
    background: url(../images/footer-bg-sm.png) no-repeat center top;
    background-size: cover;
  }
  footer .footer-wrap {
    padding: 51.5px 24px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
  footer .footer-wrap .footer-logo-sec {
    max-width: 100%;
    text-align: center;
  }
  footer .footer-wrap .footer-logo-sec p {
    margin: 16px 0 0 0;
  }
  footer .footer-wrap h4 {
    margin-bottom: 16px;
    text-align: center;
  }
  footer .footer-wrap .footer-Quick-Links-sec nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 215px;
    margin: auto;
    gap: 8px 32px;
  }
  footer .footer-wrap .footer-Quick-Links-sec nav a {
    width: auto;
  }
  .welcome-sec {
    position: unset;
  }
  .welcome-sec .welocome-container {
    max-width: 100%;
    position: unset;
    transform: unset;
  }
  .welcome-sec .iframe-sec {
    position: unset;
    transform: unset;
    width: 375px;
    height: 375px;
    margin: auto;
  }
  .welcome-sec .welocome-sec-wrap .common-heading-sec {
    max-width: 100%;
    padding: 40px 24px 54px 24px;
    background: url(../images/welcome-top-bg-sm.png) no-repeat center bottom;
    background-size: cover;
  }
  .steps-success-sec {
    padding: 0px 0 0 0;
  }
  .steps-success-sec .step-success-wrap .second-common-heading {
    margin-bottom: 0px;
    padding: 40px 24px 24px 24px;
    background: #fff;
  }
  .steps-success-sec .step-success-wrap .second-common-heading p {
    margin-bottom: 0px;
  }
  .steps-success-sec .step-success-wrap .step-success-items {
    justify-content: center;
    flex-wrap: wrap;
  }
  .steps-success-sec .step-success-wrap .step-success-items .step-sucess-item-content .step-success-top-content {
    padding: 72px 70px 24px 70px;
    text-align: center;
  }
  .steps-success-sec .step-success-wrap .step-success-items .step-sucess-item-content .step-success-top-content br {
    display: none;
  }
  .steps-success-sec .step-success-wrap .step-success-items .step-sucess-item-content .step-success-top-content h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-bottom: 8px;
  }
  .steps-success-sec .step-success-wrap .step-success-items .step-sucess-item-content .step-success-top-content p {
    margin-bottom: 16px;
  }
  .steps-success-sec .step-success-wrap .step-success-items .step-sucess-item-content .step-one {
    background: url(../images/slider-one-img.png) no-repeat center top 41px;
    background-size: 73px;
  }
  .steps-success-sec .step-success-wrap .step-success-items .step-sucess-item-content .step-two {
    background: url(../images/slider-two-img.png) no-repeat center top 41px;
    background-size: 73px;
  }
  .steps-success-sec .step-success-wrap .step-success-items .step-sucess-item-content .step-three {
    background: url(../images/slider-three-img.png) no-repeat center top 41px;
    background-size: 73px;
  }
  .pioneering-Excellence-sec .pioneering-excellence-content {
    position: unset;
    transform: unset;
    max-width: 100%;
    padding: 40px 24px 54px 24px;
    background: url(../images/pioneering-Excellence-content-bg.png) no-repeat bottom center;
    background-size: cover;
  }
  .pioneering-Excellence-sec .pioneering-excellence-content p {
    color: #847E99 !important;
  }
  .serviceArea-bottom-arrow-img {
    position: relative;
    z-index: 99;
    margin-top: -54px;
  }
  .nighthawks-industry-sec {
    padding: 0;
    background: unset;
    margin-top: -68px;
  }
  .nighthawks-industry-sec .container {
    max-width: 100%;
  }
  .nighthawks-industry-sec .container .nighthawks-industry-content {
    text-align: center;
    max-width: 100%;
    margin: auto;
    padding: 32px 24px;
    background: url(../images/nighthawks-industry-bg-sm.png) no-repeat center bottom;
    background-size: cover;
  }
  .why-Nighthawk-sec {
    padding: 32px 0;
    background: unset;
  }
  .why-Nighthawk-sec .container {
    max-width: 100%;
  }
  .why-Nighthawk-sec .why-Nighthawk-content {
    padding: 32px 24px;
    border-radius: 0;
    background: linear-gradient(95deg, #1F2244 0%, #1A1B26 25.03%, #161724 74.4%, #2E3364 100.6%);
    flex-wrap: wrap;
    gap: 32px;
  }
  .why-Nighthawk-sec .why-Nighthawk-content .second-common-heading .btn-wrap {
    gap: 16px;
    flex-wrap: wrap;
  }
  .why-Nighthawk-sec .why-Nighthawk-content .why-Nighthawk-owl {
    width: 100%;
  }
  .service-Areas-sec {
    padding: 40px 24px 31px 24px;
    background: #F6F6F6;
  }
  .service-Areas-sec .second-common-heading {
    margin-bottom: 32px;
  }
  .service-Areas-sec .servic-Area-main {
    flex-wrap: wrap-reverse;
    gap: 32px;
    justify-content: center;
  }
  .service-Areas-sec .servic-Area-main .service-Area-lists .service-Area-list-sm .nav {
    gap: 8px;
  }
  .service-Areas-sec .servic-Area-main .service-Area-lists .service-Area-list-sm .nav::before {
    content: unset;
  }
  .service-Areas-sec .servic-Area-main .service-Area-lists .service-Area-list-sm .nav .nav-item {
    padding: 0;
    background: transparent !important;
    flex: 1 1 100%;
  }
  .service-Areas-sec .servic-Area-main .service-Area-lists .service-Area-list-sm .nav .nav-item::before {
    content: unset;
  }
  .service-Areas-sec .servic-Area-main .service-Area-lists .service-Area-list-sm .nav .nav-item .nav-link {
    padding: 0;
    display: flex;
    gap: 10px;
    opacity: 1;
    align-items: center;
    /* P/Standard */
    font-family: "Lufga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 28.8px */
    color: #002152;
  }
  .service-Areas-sec .servic-Area-main .service-Area-lists .service-Area-list-sm .nav .nav-item .nav-link img {
    width: 21px;
    margin: 0;
  }
  .service-Areas-sec .servic-Area-main .service-Area-content .service-Area-main-content h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-bottom: 8px;
  }
  .service-Areas-sec .servic-Area-main .service-Area-content .service-Area-main-content p {
    margin-bottom: 16px;
  }
  .service-Areas-sec .service-Area-main-content {
    text-align: center;
  }
  #servic-items-wrap {
    width: 274px;
    position: absolute;
  }
  #servic-items-wrap .card {
    padding: 24px;
    background: #F5F5F5;
    border-radius: 2px;
    border: 1px solid #D0D0D0;
    z-index: 9999;
  }
  #servic-items-wrap .card .nav::before {
    content: unset;
  }
  #servic-items-wrap .card .nav .nav-item {
    padding: 0;
    background: transparent;
    flex: 1 1 100%;
  }
  #servic-items-wrap .card .nav .nav-item::before {
    content: unset;
  }
  #servic-items-wrap .card .nav .nav-item .nav-link {
    padding: 0;
    display: flex;
    gap: 10px;
    opacity: 1;
    /* P/Standard */
    font-family: "Lufga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 28.8px */
  }
  #servic-items-wrap .card .nav .nav-item .nav-link img {
    width: 21px;
    margin: 0;
  }
  #servic-items-wrap .card .nav .nav-item .nav-link.active {
    color: #7C54FA;
  }
  .about-top-sec .about-top-container {
    max-width: 100%;
    position: unset;
    transform: unset;
    padding: 32px 24px 54px 24px;
    background: url(../images/illuminating-bg.png) no-repeat center bottom;
    background-size: 100%;
  }
  .about-top-sec .about-top-container p {
    color: #847E99 !important;
  }
  .pioneers-Business-sec {
    margin-top: -7%;
  }
  .pioneers-Business-sec .pioneers-Business-container {
    position: unset;
    transform: unset;
    max-width: 100%;
    background: url(../images/pioneers-business-content-bg.png) no-repeat center center;
    background-size: cover;
    padding: 26px 24px 32px 24px;
  }
  .expertise-Unveiled-sec {
    padding: 0;
  }
  .expertise-Unveiled-sec .expertise-Unveiled-container {
    flex-wrap: wrap;
    gap: 24px;
  }
  .expertise-Unveiled-sec .expertise-Unveiled-container .second-common-heading {
    padding: 0 24px 32px 24px;
    background: #FFF;
  }
  .about-step-success-sec::before {
    content: unset;
  }
  .merging-Experience-sec .merging-Experience-wrap .second-common-heading {
    position: unset;
    padding: 24px 24px 32px 24px;
  }
  .footer-about {
    margin-top: 0;
  }
  .benefits-sec {
    padding: 29% 24px 32px 24px;
    background: url(../images/benefit-center-bg-main-sm.png) no-repeat top center;
    background-size: cover;
  }
  .benefits-sec::before {
    content: unset;
  }
  .benefits-sec .benefits-wrap-sec .benefits-center-content {
    position: unset;
    transform: unset;
  }
  .benefits-sec .benefits-wrap-sec .benefits-center-content h6 {
    /* Heading/M/H2 */
    font-family: "Lufga";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 33.6px */
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  .benefits-sec .benefits-wrap-sec .benefits-center-content p {
    margin-bottom: 16px;
  }
  .benefits-sec .benefites-list-sec {
    margin-top: 112px;
  }
  .benefits-sec .benefites-list-sec .benefites-list-item {
    max-width: 100%;
    position: unset;
    margin-bottom: 24px;
    display: flex;
    gap: 16px;
  }
  .benefits-sec .benefites-list-sec .benefites-list-item .text-wrap {
    max-width: 247px;
  }
  .benefits-sec .benefites-list-sec .benefites-list-item:last-child {
    margin-bottom: 0;
  }
  .service-top-sec .common-heading-sec h1 {
    color: #002152;
  }
  .service-top-sec .common-heading-sec p {
    color: #847E99;
  }
  .main-service-Areas-sec {
    background: url(../images/main-service-Areas-sec-bg-sm.png) no-repeat center bottom;
    background-size: cover;
    padding-bottom: 100px;
  }
  .main-service-Areas-sec .servic-Area-main .service-Area-lists .nav::after {
    content: unset;
  }
  .main-service-Areas-sec .service-Area-wrap {
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 32px;
    justify-content: center;
  }
  .main-service-Areas-sec #servic-items-wrap {
    left: 50%;
    transform: translateX(-50%);
  }
  .unmatched-advantage-sec {
    margin: 0;
  }
  .unmatched-advantage-sec .second-common-heading {
    padding: 0px 24px;
    bottom: unset;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .blueprint-Service-top-sec {
    margin-top: -9%;
  }
  .blueprint-Service-sec {
    margin-top: -12%;
    z-index: 2;
  }
  .blueprint-Service-sec .blueprint-Service-container {
    position: unset;
    transform: unset;
    padding: 26px 24px 32px 24px;
  }
  .our-promise-sec .second-common-heading {
    max-width: 100%;
    position: unset;
    padding: 24px 24px 32px 24px;
  }
  .service-footer {
    margin-top: 0;
  }
  .legals-content-top-sec {
    background: url(../images/legal-bg-sm.png) no-repeat center bottom;
    background-size: cover;
    padding: 111px 0 133px 0;
  }
  .legals-content-top-sec .legal-content-sec h1 {
    /* Heading/M/H1 */
    font-size: 36px;
    line-height: 120%;
    /* 43.2px */
    margin-bottom: 16px;
  }
  .legals-content-top-sec .legal-content-sec .legal-text-wrap {
    flex-wrap: wrap;
    gap: 8px;
  }
  .legals-content-top-sec .legal-content-sec .legal-text-wrap span {
    flex: 1 1 100%;
  }
  .legal-main-content-sec {
    padding: 32px 0;
    background: white;
  }
  body:has(.error-sec) {
    background: #0E0E0E;
  }
  .error-sec .error-content {
    position: unset;
    transform: unset;
    max-width: 388px;
    text-align: center;
    padding: 32px 24px;
    margin: auto;
  }
  .error-sec .error-content h1 {
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 72%;
  }
  .error-sec .error-content h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .error-footer {
    margin-top: 0;
    background: url(../images/error-footer-bg-sm.png) no-repeat center top;
    background-size: cover;
  }
  .contant-top-sec .contact-top-content {
    padding: 0 24px;
  }
  .contant-top-sec .contact-top-content h1 {
    /* Heading/M/H1 */
    font-size: 36px;
    line-height: 120%;
    /* 43.2px */
  }
  .contact-details-sec {
    margin-top: 0;
  }
  .contact-details-sec .contact-details-wrap .contact-details-items {
    flex-wrap: wrap;
    padding: 24px 0;
    justify-content: center;
    gap: 16px;
  }
  .contact-details-sec .contact-details-wrap .contact-details-items .contact-details-items-wrap {
    max-width: 327px;
    margin-top: 0 !important;
  }
  .contact-details-sec .contact-details-wrap .contact-details-items .contact-details-items-wrap h6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin: 8px 0 4px 0;
  }
  .contact-details-sec .contact-details-wrap .contact-details-items .contact-details-items-wrap img {
    display: block;
    margin: auto;
  }
  .contact-form-wrap {
    padding: 0 0 50px 0;
    background: unset;
  }
  .contact-form-wrap .contact-main-form {
    padding: 32px 24px;
  }
  .contact-form-wrap .contact-main-form h3 {
    /* Heading/M/H2 */
    font-family: "Lufga";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 33.6px */
    text-transform: capitalize;
    margin-bottom: 24px;
  }
  .contact-form-wrap .contact-main-form .form-flex {
    gap: 16px;
  }
  .contact-form-wrap .contact-main-form .common-form .btn-wrap {
    gap: 24px;
    margin: 24px 0;
    flex-wrap: wrap;
  }
  .footer-contant {
    margin-top: 0;
  }
  .contact-popups .modal-content {
    border-radius: 0%;
  }
  .contact-popups .modal-body {
    padding: 32px 24px;
  }
  .contact-popups h5 {
    /* Heading/M/H2 */
    font-family: "Lufga";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 33.6px */
    text-transform: capitalize;
    margin: 24px 0 16px 0;
  }
  .contact-popups p {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  footer .footer-wrap .footer-Contact-Details-sec nav a {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .why-Nighthawk-sec .why-Nighthawk-content .second-common-heading .btn-wrap a {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .welcome-sec .welocome-sec-wrap .common-heading-sec {
    padding: 40px 24px 95px 24px;
  }
  .pioneering-Excellence-sec .pioneering-excellence-content {
    padding: 40px 24px 85px 24px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .welcome-sec .iframe-sec {
    top: -120px;
  }
  .steps-success-sec .step-success-wrap .step-success-items {
    gap: 35px;
    align-items: center;
  }
  .nighthawks-industry-sec {
    padding: 83px 0;
  }
  .nighthawks-industry-sec .nighthawks-left-img {
    width: 48%;
  }
  .nighthawks-industry-sec .nighthawks-industry-content {
    max-width: 541px;
  }
  .nighthawks-industry-sec .nighthawks-industry-content .second-common-heading h5 {
    font-size: 32px;
  }
  .why-Nighthawk-sec .why-Nighthawk-content .why-Nighthawk-owl {
    max-width: 534px;
  }
  .service-Areas-sec .servic-Area-main .service-Area-content {
    max-width: 385px;
  }
  .service-Areas-sec .servic-Area-main .service-Area-lists {
    max-width: 708px;
  }
  .service-Areas-sec .servic-Area-main .service-Area-lists .nav .nav-item {
    padding: 20px 22px;
  }
  .service-Areas-sec .servic-Area-main .service-Area-lists .nav .nav-item .nav-link {
    padding: 0;
  }
  .about-top-sec .about-top-container {
    top: 9%;
  }
  .pioneers-Business-sec .second-common-heading {
    max-width: 575px;
  }
  .pioneers-Business-sec .second-common-heading h5 {
    font-size: 32px;
  }
  .expertise-Unveiled-sec .expertise-Unveiled-container {
    gap: 72px;
  }
  .expertise-Unveiled-sec .second-common-heading {
    max-width: 474px;
  }
  .expertise-Unveiled-sec .second-common-heading h5 {
    font-size: 32px;
  }
  .about-step-success-sec ::before {
    width: 23%;
    top: -12%;
  }
  .merging-Experience-sec .merging-Experience-wrap .second-common-heading {
    top: 7%;
    max-width: 582px;
  }
  .benefits-sec .benefit-center-bg {
    width: 60%;
  }
  .benefits-sec .benefits-wrap-sec .benefits-center-content {
    max-width: 245px;
    top: 49%;
  }
  .benefits-sec .benefits-wrap-sec .benefits-center-content p {
    margin-bottom: 12px;
  }
  .benefits-sec .benefites-list-sec .benefites-item-1 {
    top: 9%;
    left: 7%;
  }
  .benefits-sec .benefites-list-sec .benefites-item-2 {
    top: 41%;
    left: 4%;
  }
  .benefits-sec .benefites-list-sec .benefites-item-3 {
    top: 72%;
    left: 8%;
  }
  .benefits-sec .benefites-list-sec .benefites-item-4 {
    top: 9%;
    right: 7%;
  }
  .benefits-sec .benefites-list-sec .benefites-item-5 {
    top: 41%;
    right: 4%;
  }
  .benefits-sec .benefites-list-sec .benefites-item-6 {
    top: 72%;
    right: 8%;
  }
  .main-service-Areas-sec .servic-Area-main .service-Area-lists {
    max-width: 100%;
  }
  .main-service-Areas-sec .servic-Area-main .service-Area-lists .nav .nav-item .nav-link {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
  }
  .main-service-Areas-sec .servic-Area-main .service-Area-lists .nav .nav-item .nav-link img {
    margin: 0;
    width: 32px;
  }
  .main-service-Areas-sec .service-Area-wrap .service-Area-main-content {
    max-width: 559px;
  }
  .unmatched-advantage-sec {
    margin-top: -14%;
  }
  .blueprint-Service-sec .second-common-heading {
    max-width: 477px;
  }
  .our-promise-sec .second-common-heading {
    max-width: 617px;
    top: 12%;
  }
  .contact-details-sec {
    margin-top: -5%;
  }
  .contact-details-sec .contact-details-wrap .contact-details-items .contact-details-items-wrap:first-child, .contact-details-sec .contact-details-wrap .contact-details-items .contact-details-items-wrap:last-child {
    margin-top: -4%;
  }
  .pioneering-Excellence-sec .pioneering-excellence-content {
    top: 51%;
  }
  .pioneering-Excellence-sec .pioneering-excellence-content .second-common-heading p {
    max-width: 691px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .welcome-sec .iframe-sec {
    top: -120px;
  }
  .nighthawks-industry-sec .nighthawks-left-img {
    width: 48%;
  }
  .about-top-sec .about-top-container {
    top: 12%;
  }
  .about-step-success-sec ::before {
    width: 23%;
    top: -12%;
  }
  .footer-about {
    margin-top: -6%;
    position: relative;
  }
  .benefits-sec .benefites-list-sec .benefites-item-1 {
    top: 9%;
    left: 9%;
  }
  .benefits-sec .benefites-list-sec .benefites-item-2 {
    top: 41%;
    left: 6%;
  }
  .benefits-sec .benefites-list-sec .benefites-item-3 {
    top: 72%;
    left: 10%;
  }
  .benefits-sec .benefites-list-sec .benefites-item-4 {
    top: 9%;
    right: 9%;
  }
  .benefits-sec .benefites-list-sec .benefites-item-5 {
    top: 41%;
    right: 6%;
  }
  .benefits-sec .benefites-list-sec .benefites-item-6 {
    top: 72%;
    right: 10%;
  }
  .main-service-Areas-sec .servic-Area-main .service-Area-lists {
    max-width: 100%;
  }
  .main-service-Areas-sec .servic-Area-main .service-Area-lists .nav .nav-item .nav-link {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 19px;
  }
  .main-service-Areas-sec .servic-Area-main .service-Area-lists .nav .nav-item .nav-link img {
    margin: 0;
    width: 40px;
  }
  .unmatched-advantage-sec {
    margin-top: -14%;
  }
  .contact-details-sec {
    margin-top: -5%;
  }
  .contact-details-sec .contact-details-wrap .contact-details-items .contact-details-items-wrap:first-child, .contact-details-sec .contact-details-wrap .contact-details-items .contact-details-items-wrap:last-child {
    margin-top: -4%;
  }
  .pioneering-excellence-content {
    max-width: 1256px;
  }
  .pioneering-Excellence-sec .pioneering-excellence-content .second-common-heading p {
    max-width: 693px;
  }
}
@media screen and (min-width: 1800px) {
  .nighthawks-industry-sec .container {
    max-width: 1436px;
    margin: auto;
  }
  .why-Nighthawk-sec .container {
    max-width: 1352px;
  }
  .service-Areas-sec .container {
    max-width: 1436px;
  }
  .pioneers-Business-container {
    max-width: 1438px;
  }
  .expertise-Unveiled-container {
    max-width: 1510px;
  }
  .benefits-container {
    max-width: 1486px;
  }
  .main-service-Areas-sec .container {
    max-width: 1608px;
  }
  .blueprint-Service-sec .container,
  .our-promise-sec .container {
    max-width: 1436px;
  }
  .pioneering-excellence-content {
    max-width: 1256px;
  }
}/*# sourceMappingURL=responsive.css.map */