
@mixin P-Top-Nav{
/* P/Top Nav */
font-family: $Gotham-font;
font-size: 15px;
font-style: normal;
font-weight: 325;
line-height: 176.7%; /* 26.505px */
text-transform: uppercase;
}

@mixin  Heading-H3{
    /* Heading/H3 */
font-family: $Cormorant-font;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 132%; /* 42.24px */
text-transform: capitalize;
}

@mixin p-standard{
    /* P/Standard */
font-family: $Gotham-font;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: 180%; /* 27px */
}

@mixin P-CTA{
    /* P/CTA */
font-family: $Gotham-font;
font-size: 16px;
font-style: normal;
font-weight: 350;
line-height: normal;
letter-spacing: 0.5px;
text-transform: capitalize;
}

@mixin Heading-H4{
    /* Heading/H4 */
font-family: $Cormorant-font;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 132%; /* 31.68px */
text-transform: capitalize;
}

@mixin Heading-Subtitle{
    /* Heading/Subtitle */
font-family: $Gotham-font;
font-size: 16px;
font-style: normal;
font-weight: 350;
line-height: normal;
letter-spacing: 1.5px;
text-transform: uppercase;
}
 

@mixin primary-btn{
 
a {
  @include P-CTA();
  color: $primary-color;
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
  } 
  
  /**** BTN No. 5 ****/
 
  .common-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }
  .common-btn:before,
  .common-btn:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background:  $primary-color;
    transition: all 0.3s ease;
  }
  .common-btn:before {
    height: 50%;
    width: 2px;
  }
  .common-btn:after {
    width: 20%;
    height: 2px;
  }
  .common-btn:hover:before {
    height: 100%;
  }
  .common-btn:hover:after {
    width: 100%;
  }
  .common-btn span:before,
  .common-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background:  $primary-color;
    transition: all 0.3s ease;
  }
  .common-btn span:before {
    width: 2px;
    height: 50%;
  }
  .common-btn span:after {
    width: 20%;
    height: 2px;
  }
  .common-btn span:hover:before {
    height: 100%;
  }
  .common-btn span:hover:after {
    width: 100%;
  }
  
}
@mixin secondary-btn{
  
    .common-btn {
      @include P-CTA();
      color: $secodary-color;
        padding: 10px 25px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        background: transparent;
        outline: none !important;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
      } 
      
      /**** BTN No. 5 ****/
      .common-btn { 
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
      }
      .common-btn span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 20px;
      }
      .common-btn:before,
      .common-btn:after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        background:  $secodary-color;
        transition: all 0.3s ease;
      }
      .common-btn:before {
        height: 50%;
        width: 2px;
      }
      .common-btn:after {
        width: 20%;
        height: 2px;
      }
      .common-btn:hover:before {
        height: 100%;
      }
      .common-btn:hover:after {
        width: 100%;
      }
      .common-btn span:before,
      .common-btn span:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background:  $secodary-color;
        transition: all 0.3s ease;
      }
      .common-btn span:before {
        width: 2px;
        height: 50%;
      }
      .common-btn span:after {
        width: 20%;
        height: 2px;
      }
      .common-btn span:hover:before {
        height: 100%;
      }
      .common-btn span:hover:after {
        width: 100%;
      }
      
}
@mixin  Heading-M-H1 {
    
/* Heading/M/H1 */ 
font-size: 40px;  
line-height: 110.6%; /* 44.24px */ 
}

@mixin Heading-H2{ 
/* Heading/H2 */
font-family: $Cormorant-font;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 132%; /* 63.36px */
text-transform: capitalize;
}

@mixin Heading-M-Subtitle{ 
font-size: 12px;  
line-height: normal;
letter-spacing: 1.5px; 
}

@mixin Heading-M-H2{
  font-size: 32px;   
}

@mixin Heading-H1{
  /* Heading/H1 */
font-family: $Cormorant-font;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 132%; /* 84.48px */
text-transform: capitalize;
}

@mixin p-standard-bold{
  @include p-standard();
  font-weight: bold;
}