@import 'variables';
@import 'font';
@import 'mixin';
// common css
a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.primary-btn {
    @include primary-btn;
}

.secondary-btn {
    @include secondary-btn;
}

.top-common-sec {
    h6 {
        @include Heading-Subtitle;
        color: $primary-color;
        margin-bottom: 8px;
    }
    h5 {
        @include Heading-H1;
        color: white;
        margin-bottom: 16px;
    }
    p {
        @include p-standard;
        color: #F4F4F4;
        margin-bottom: 32px;
    }
}

.second-common-sec {
    h6 {
        @include Heading-Subtitle;
        color: $secodary-color;
        margin-bottom: 2px;
    }
    h5 {
        @include Heading-H2;
        color: #0E0E0E;
        margin-bottom: 24px;
    }
    p {
        @include p-standard;
        color: #201F1D;
        margin-bottom: 32px;
    }
}

// form
.common-form {
    .form-control {
        background-color: transparent;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid $primary-color;
        @include p-standard;
        color: #0E0E0E;
        padding: 0;
        padding-bottom: 20px;
        outline: none;
        box-shadow: none;
        &::placeholder {
            color: #0E0E0E;
        }
        &:hover {
            border-bottom: 1px solid $secodary-color;
        }
    }
    textarea {
        width: 100% !important;
        padding: 16px !important;
        background-color: white !important;
        height: 172px;
        @include p-standard;
        color: #0E0E0E;
    }
    .form-check {
        display: flex;
        gap: 12px;
        align-items: center;
        .form-check-input {
            flex: 0 0 16px;
            height: 16px;
            border: 1px solid $primary-color;
            border-radius: 0;
        }
        .form-check-label {
            @include p-standard;
            color: #0E0E0E;
            a {
                color: #005BB9;
            }
        }
    }
}

// common css end
// Header start
header {
    padding: 28.5px 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    .desktop-nav {
        a {
            color: white;
            @include P-Top-Nav;
        }
        a.active {
            color: $primary-color;
        }
        nav {
            display: flex;
            gap: 48px;
            align-items: center;
            justify-content: end;
        }
        .nav-open-btn[aria-expanded="true"] {
            display: none !important;
        }
    }
    // &:has(.nav-open-btn[aria-expanded="true"]) {
    //     background-color: #FFFFFF33;
    // }
    #desktop-nav-btn {
        transition: all 0.2s ease;
        &::before {
            transition: all 0.2s cubic-bezier(1, -0.04, 0, 1.64);
            content: "";
            position: absolute;
            width: 100%;
            right: -100%;
            top: 0;
            height: 100px;
            background-color: #FFFFFF33;
            z-index: -1;
        }
    }
    #desktop-nav-btn.show {
        &::before {
            content: "";
            right: 0;
        }
    }
}

// Header end
// Footer start
footer {
    background-color: #201F1D;
    padding: 72px 0;
    .footer-top-sec {
        padding-bottom: 34px;
        margin-bottom: 34px;
        border-bottom: 1px solid #3C3C3C;
        .contact-detials-sec {
            max-width: 502px;
            h4 {
                font-family: $Cormorant-font;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 132%;
                /* 47.52px */
                color: $primary-color;
                margin-bottom: 24px;
            }
            address,
            a {
                @include p-standard;
                color: white;
                margin: 0;
            }
        }
        .footer-right-sec {
            text-align: end;
            p {
                @include p-standard;
                color: white;
                margin: 24px 0 0 0;
            }
        }
    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            display: flex;
            gap: 8px;
            a {
                color: #D0D0D0;
                @include P-CTA;
                font-weight: 500;
                display: inline-block;
                transition: all 0.5s ease-in-out;
                border-bottom: 1px solid rgba(255, 255, 255, 0);
                padding: 4px 16px;
                &:hover {
                    border-bottom: 1px solid #FFF;
                }
            }
        }
    }
}

// Footer end
// home start
.welcome-sec {
    position: relative;
    overflow: hidden;
    .welcome-sec-content {
        position: absolute;
        width: 100%;
        max-width: 835px;
        top: 27%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        &>span {
            @include Heading-Subtitle;
            color: $primary-color;
            display: inline-block;
            margin-bottom: 8px;
        }
        h1 {
            font-family: $Cormorant-font;
            font-size: 96px;
            font-style: normal;
            font-weight: 700;
            line-height: 96.1%;
            /* 92.256px */
            text-transform: capitalize;
            color: white;
            margin-bottom: 24px;
        }
    }
    .welcome-slider-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        .welcome-slider-items {
            transform: translateY(61px);
            transition: all 0.5s ease-in-out;
            p {
                transition: all 0.5s ease-in-out;
                opacity: 0;
            }
            &:hover {
                transform: translateY(-16px);
                p {
                    opacity: 1;
                }
            }
        }
    }
    .welcome-slider {
        text-align: center;
        max-width: 306px;
        margin: auto;
        position: relative;
        padding: 0 24px;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 4px;
            opacity: 0.6;
            top: -16px;
            left: 0;
            background: $primary-color;
        }
        h4 {
            color: white;
            font-family: $Cormorant-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 132%;
            /* 31.68px */
            margin-bottom: 16px;
        }
        p {
            @include p-standard;
            color: white;
            margin-bottom: 0;
        }
    }
    .scroll-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        flex-direction: column;
        span {
            color: #D0D0D0;
            text-align: center;
            font-family: $Cormorant-font;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.5px;
            text-transform: capitalize;
        }
    }
}

.aboutUs-sec {
    padding: 120px 0px;
    background: url(../images/aboutUs-bg.png) no-repeat top center;
    background-size: contain;
    .about-us-left {
        position: relative;
        .about-us-left-content {
            position: absolute;
            max-width: 602px;
            width: 100%;
            padding: 35px 42px;
            background: white;
            bottom: 0px;
            right: 26px;
            p {
                @include p-standard;
                padding: 10px 0 10px 32px;
                border-left: 3px solid #446761;
                margin-bottom: 0;
                color: black;
            }
        }
    }
    .about-us-right-content {
        max-width: 572px;
        padding-left: 55px;
    }
}

.our-expertise {
    padding: 140px 0;
    .second-common-sec {
        text-align: center;
        max-width: 1002px;
        margin: auto;
        h5 {
            max-width: 860px;
            margin: auto;
            padding-bottom: 24px;
        }
        p {
            margin-bottom: 0;
        }
    }
}

.partnership-sec {
    display: flex;
    .partnership-content {
        position: relative;
        background-color: #FBFBFB;
        .second-common-sec {
            max-width: 483px;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.servie-insight-sec {
    .servie-insight-content-sec {
        position: relative;
        .second-common-sec {
            position: absolute;
            max-width: 572px;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            right: 53px;
        }
    }
}

.contact-sec-wrap {
    background: url(../images/contact-sec-wrap-img-bg.png) no-repeat center right;
    background-color: #F4F4F4;
    padding: 80px 0;
    min-height: 862px;
    .contact-flex {
        display: flex;
        gap: 102px;
        align-items: start;
        .contact-bottom-content {
            max-width: 451px;
            background-color: white;
            position: relative;
            top: -130px;
            .contact-content-details-sec {
                padding: 62px 0;
                max-width: 243px;
                margin: auto;
                h6 {
                    font-family: $Cormorant-font;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 132%;
                    margin-bottom: 24px;
                    color: #0E0E0E
                }
                address {
                    @include p-standard;
                    color: #201F1D;
                    margin-bottom: 16px;
                    display: inline-block;
                }
                a {
                    @include p-standard;
                    color: #201F1D;
                }
                .mailto {
                    font-weight: 500;
                }
            }
        }
        .contact-form-wrap {
            max-width: 842px;
            h6 {
                @include Heading-H2;
                color: #0E0E0E;
                margin-bottom: 40px;
            }
            .form-flex {
                display: flex;
                flex-wrap: wrap;
                gap: 44px 33px;
                .form-group {
                    flex: 1 1 40%;
                }
                textarea {
                    flex: 1 1 100%;
                }
            }
            .checkbox-wrap {
                margin: 32px 0;
            }
        }
    }
}

// home start
// our story 
.welcome-our-stroy-sec {
    position: relative;
    .mosanaLimited-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .top-common-sec {
        max-width: 596px;
        margin-left: auto;
        p {
            max-width: 525px;
        }
    }
}

.benefits-sec {
    background: url(../images/benefits-bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
    .benefits-content-section {
        max-width: 1254px;
        margin: auto;
        min-height: 776px;
        display: flex;
        align-items: center;
        padding-top: 32px;
        .second-common-sec {
            max-width: 567px;
            p {
                span {
                    font-weight: bold;
                }
            }
        }
    }
    .benefits-right-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 50%;
    }
}

.our-team-sec {
    padding: 140px 0;
    background: url(../images/our-Team.png) no-repeat center bottom;
    background-size: contain;
    background-color: white;
    .our-team-content {
        max-width: 928px;
        margin: auto;
        text-align: center;
    }
}

.how-works-sec {
    background: url(../images/how-works-sec-bg.png) no-repeat center center;
    background-size: cover;
    .how-works-wrap {
        padding: 135px 0 157px 0;
        max-width: 1347px;
        justify-content: space-between;
        margin: auto;
        display: flex;
        align-items: center;
        .how-work-content {
            max-width: 519px;
        }
        .how-works-items {
            max-width: 676px;
            display: flex;
            gap: 72px;
            flex-wrap: wrap;
            .how-item {
                max-width: 302px;
                h6 {
                    margin: 16px 0;
                    @include Heading-H4;
                    color: #0E0E0E;
                    font-variant-numeric: lining-nums proportional-nums;
                }
                p {
                    @include p-standard;
                    color: #201F1D;
                }
            }
        }
    }
}

.global-Operation-sec {
    padding: 75px 0;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: url(../images/global-line.png) no-repeat center center;
        background-size: contain;
        z-index: 1;
    }
    .global-operation-wrap {
        max-width: 1300px;
        margin: auto;
        position: relative;
        .second-common-sec {
            position: absolute;
            text-align: center;
            top: 17px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
        }
        .global-content {
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 22px;
            transform: translateY(-50%);
            background: rgba(32, 31, 29, 0.80);
            max-width: 340px;
            width: 100%;
            padding: 40px;
            p {
                @include p-standard;
                color: white;
                span {
                    font-weight: bold;
                }
            }
        }
    }
}

.proven-Results-sec {
    background: url(../images/proven-Results-sec-bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
    .proven-wrap {
        max-width: 1300px;
        margin: auto;
        min-height: 910px;
        display: flex;
        align-items: center;
        .second-common-sec {
            max-width: 572px;
        }
    }
    .prover-right-content {
        position: absolute;
        right: 127px;
        top: 50%;
        transform: translateY(-50%);
        .prover-right-content-wrap {
            max-width: 602px;
            padding: 42px;
            background-color: white;
            position: relative;
            margin-top: -130px;
            margin-left: -123px;
            p {
                padding: 10px 0 10px 32px;
                border-left: 3px solid $secodary-color;
                @include p-standard;
                color: #0E0E0E;
            }
        }
    }
}

// term condition start
.term-condition-top-sec {
    position: relative;
    .term-condition-content {
        text-align: center;
        max-width: 835px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h6 {
            @include Heading-Subtitle;
            color: $primary-color;
            margin-bottom: 8px;
        }
        h5 {
            @include Heading-H1;
            color: white;
            margin-bottom: 0;
        }
    }
}

.term-condition-main-content {
    padding: 120px 0;
    background: url(../images/term-condition-sec-line.png) no-repeat center center;
    background-size: contain;
    background-color: #F4F4F4;
    .term-condition-wrap {
        max-width: 1254px;
        margin: auto;
    }
    p {
        @include p-standard;
        color: #201F1D;
        margin-bottom: 24px;
        a {
            text-decoration: underline;
            color: #201F1D;
        }
    }
    .p-bold {
        @include p-standard-bold;
        margin-bottom: 0px;
    }
}

.cookiemain-bg {
    background: url(../images/cookiemain-line.png) no-repeat center center;
    background-size: contain;
    background-color: #F4F4F4;
}

// contact 
.common-modal {
    .modal-dialog {
        max-width: 735px;
    }
}

.modal-success-sec {
    border-radius: 0;
    background: #F6F6F6;
    padding: 56px;
    text-align: center;
    h6 {
        @include Heading-H3;
        margin: 16px 0;
        color: #0E0E0E;
    }
    p {
        @include p-standard;
        margin-bottom: 32px;
        color: #3C3C3C;
    }
}

// error
.error-sec {
    position: relative;
    .error-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 408px;
        width: 100%;
        margin-left: 92px;
        h5 {
            color: white;
            font-variant-numeric: lining-nums tabular-nums;
            font-family: $Cormorant-font;
            font-size: 128px;
            font-style: normal;
            font-weight: 700;
            line-height: 82.96px;
            /* 168.96px */
            text-transform: capitalize;
            margin-bottom: 8px;
        }
        h6 {
            @include Heading-H1;
            color: white;
            margin-bottom: 24px;
        }
        p {
            @include p-standard;
            color: white;
            margin-bottom: 24;
        }
    }
}

// service
.welcome-services-top-sec {
    .mosanaLimited-container {
        top: 50%;
    }
    .top-common-sec {
        margin-left: unset;
    }
}

.strategy-sec {
    background-color: #F4F4F4;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: url(../images/strategy-line.png) no-repeat top center;
        background-repeat: no-repeat repeat;
        background-size: 50%;
        top: 0;
        left: 0;
    }
    .strategy-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .strategy-items {
            background-color: white;
            max-width: 525px;
            padding: 97px 40px;
            .strategy-item-content {
                position: relative;
                display: flex;
                align-items: start;
                gap: 24px;
                margin-bottom: 32px;
                .strategy-items-main-content {
                    h6 {
                        @include Heading-H4;
                        color: #0E0E0E;
                        margin-bottom: 16px;
                    }
                    p {
                        @include p-standard;
                        color: #201F1D;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .strategy-content-sec {
            max-width: 717px;
            position: relative;
            p {
                color: #0E0E0E;
            }
        }
    }
}

.solutions-sec {
    padding: 54px 0;
    background-color: #FBFBFB;
    display: flex;
    gap: 4%;
    align-items: center;
    position: relative;
    p {
        color: #0E0E0E;
    }
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: url(../images/solutions-line.png) no-repeat top center;
        background-repeat: no-repeat repeat;
        background-size: 50%;
        top: 0;
        left: 0;
    }
    img {
        position: relative;
    }
    .second-common-sec {
        width: 776px;
        position: relative;
    }
}

.how-works-main-sec {
    padding: 72px 0;
    background: url(../images/how-work-bg.png) no-repeat bottom right;
    background-size: cover;
    background-color: white;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: url(../images/step-work-line.png) no-repeat top center;
        background-repeat: no-repeat repeat;
        background-size: 50%;
        top: 0;
        left: 0;
    }
    .how-works-main-wrap {
        max-width: 1314px;
        margin: auto;
    }
    .how-work-title-wrap {
        text-align: center;
        h6 {
            @include Heading-Subtitle;
            color: $secodary-color;
            margin-bottom: 2px;
        }
        h5 {
            @include Heading-H2;
            color: #0E0E0E;
            margin-bottom: 24px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
                content: "";
                width: 100%;
                max-width: 434px;
                height: 1px;
                position: absolute;
                background-color: #656565;
                left: 0;
            }
            &::before {
                content: "";
                width: 100%;
                max-width: 434px;
                height: 1px;
                position: absolute;
                background-color: #656565;
                right: 0;
            }
        }
    }
    .step-works-sec {
        max-width: 1277.5px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        gap: 22px 17px;
        position: relative;
        .text-wrap {
            h5 {
                leading-trim: both;
                text-edge: cap;
                font-family: $Gotham-font;
                font-size: 64px;
                font-style: normal;
                font-weight: 325;
                line-height: 81%;
                /* 84.48px */
                text-transform: capitalize;
                margin-bottom: 16px;
            }
            h6 {
                @include Heading-H3;
                margin-bottom: 16px;
            }
            p {
                @include p-standard;
                color: #0E0E0E;
                margin-bottom: 0;
            }
        }
        .step-work-1 {
            flex: 1 1 840px;
            max-width: 840px;
            padding: 65.5px 41px;
            background: url(../images/step-1-wrok-bg.png) no-repeat bottom right;
            background-size: cover;
            .text-wrap {
                max-width: 483px;
            }
            h5 {
                color: $secodary-color;
            }
            h6,
            p {
                color: #0E0E0E;
            }
        }
        .step-work-2 {
            flex: 1 1 420px;
            max-width: 420px;
            padding: 88.5px 41px;
            background-color: #F4F4F4;
            h5 {
                color: $secodary-color;
            }
            h6,
            p {
                color: #0E0E0E;
            }
        }
        .step-work-3 {
            margin-top: -100px;
            max-width: 325px;
            padding: 36px 41px;
            min-height: 533px;
            background: url(../images/step-3-wrok-bg.png) no-repeat center bottom;
            background-size: cover;
            h5 {
                color: $primary-color;
            }
            h6 {
                color: white;
            }
            p {
                color: #F4F4F4;
            }
        }
        .step-work-4 {
            margin-top: -100px;
            max-width: 498px;
            min-height: 579px;
            padding: 36px 41px;
            background: url(../images/step-4-wrok-bg.png) no-repeat center bottom;
            background-size: cover;
            h5 {
                color: $secodary-color;
            }
            h6,
            p {
                color: #0E0E0E;
            }
        }
        .step-work-5 {
            max-width: 420px;
            min-height: 435px;
            padding: 71px 41px;
            background-color: #201F1D;
            h5 {
                color: $primary-color;
            }
            h6 {
                color: white;
            }
            p {
                color: #F4F4F4;
            }
        }
    }
}

.why-choose-sec {
    background: url(../images/why-choose-bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: url(../images/why-choose-line.png) no-repeat top center;
        background-repeat: no-repeat repeat;
        background-size: 50%;
        top: 0;
        left: 0;
    }
    .why-choose-content {
        min-height: 910px;
        max-width: 1277.5px;
        margin: auto;
        display: flex;
        align-items: center;
        .second-common-sec {
            max-width: 572px;
            position: relative;
        }
    }
    .why-choose-right {
        position: absolute;
        right: 6%;
        top: 50%;
        width: 37%;
        transform: translateY(-50%);
    }
}

.our-Services-sec {
    background: url(../images/our-service-bg.png) no-repeat center center;
    background-size: cover;
    padding: 121px 0 81px 0;
    .our-service-slider-wrap {
        max-width: 87%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .our-service-main-slider {
            .our-service-items {
                max-width: 1130px;
                .our-service-item-wrap {
                    max-width: 517px;
                    h6 {
                        @include Heading-H3;
                        margin-top: 25px;
                        color: black;
                        text-align: start;
                        direction: ltr;
                    }
                }
            }
            .owl-nav {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 24px;
                position: absolute;
                top: -83px;
                right: 235px;
                .owl-next {
                    width: 65px;
                    height: 48px;
                    background-size: contain;
                    background: url(../images/owl-prev.svg) no-repeat center center !important;
                }
                .owl-prev {
                    width: 65px;
                    height: 48px;
                    background: url(../images/owl-next.svg) no-repeat center center !important;
                    background-size: contain;
                }
                span {
                    font-size: 0;
                }
                .disabled {
                    opacity: 0.4;
                }
            }
        }
        .our-service-content {
            .our-service-slider-main-contant {
                transition: all 0.5s ease-in-out;
                .second-common-sec {
                    max-width: 435px;
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.stickyheader {
    background: #0000003d;
}