
@media(min-width:1441px)
{
    .hmHeadingSection {
        background-size: 100% 100%;
        min-height: 700px;
    }

    .hmHeadingSection h1 {
        margin-top: 150px;
    }

    .home-our-supporting-bg {
        /* background-position: 0 -182px; */
        background-position: 0 0;        
    }

    .footer-logo {
        display: inline-block;
        margin-top: 80px;
   }

   footer {
       background-size: 100% 100%;
       background-position: 0 0;
   }

   .aboutsection {
       background-position: 0 -270px;
   }

   .rightContentWrapper .medium-heading {
       margin-top: 280px;
   }

   .service-main {
       background-position: 0 0;
   }

   .rightContentWrapper .medium-heading {
       margin-top: 0;       
   }

   .service-before-footer {
       min-height: 700px;
   }

   .service-main {
       background-position: center center;
   }
   
}


/**************************************mob**************************************/

@media(max-width:767px){
    
    .collapsing {
        border-color: transparent !important;
    }

    .navbar-inverse .navbar-collapse {
        margin-top: 20px;
    }

    footer {
        background-image: none;
        padding: 15px 0;
    }

    .hmHeadingSection {
        background-color: #071434;
        min-height: 1px;
        padding: 30px 0;
        background-image: none;
    }

    .hmHeadingSection h1 {
        margin-top: 0;
    }

    .f-65 {
        font-size: 35px;
    }

    .home-our-supporting-bg {
        padding: 30px 0;
    }

    .centerContentWithButton {
        padding: 0 0;
    }

    .centerContentWithButton .medium-heading, .sp-main-heading-left {
        font-size: 30px;
    }

    .centerContentWithButton .medium-heading {
        letter-spacing: 1px;
    }

    .m-b-50 {
        margin-bottom: 30px !important;
    }

    .specilities-content {
        width: 100%;
        margin-bottom: 15px !important;
    }

    .home-supporting {
        padding: 30px 0;
    }

    .home-mob-supporting-btn {
        margin-bottom: 30px;
    }

    .home-our-supporting-bg {
        background-position: 0 0;
        background-image: none;
        background-color: #070119;
    }

    .home-achieving {
        min-height: 1px;
        background-image: none;
        background-color: #070119;
    }


    .achieving-heading {
        font-size: 30px;
        padding-top: 30px;
    }


    .home-managing {
        padding-top: 30px;
        min-height: 1px;
        padding-bottom: 30px;
        background-image: none;
    }

    .managing-heading {
        padding-top: 0px;
        letter-spacing: 1px;
        font-size: 30px;
    }

    .managed-para {
        max-width: none;
    }

    .aboutsection {
        min-height: 1px;
        padding: 30px 0;
        background-image: none;
        background-color: #071839;
    }

    .about-the-heading {
        letter-spacing: 8px;
    }

    .aboutachievright {
        padding: 30px 0;
        background-image: none;
        background-color: #000000;
    }

    .rightContentWrapper .medium-heading {
        margin-top: 0;
        margin-bottom: 0 !important;
        font-size: 30px;
        margin-bottom: 30px !important;
    }

    .rightContentWrapper .medium-heading {
        padding: 0 15px;
    }

    .rightContentWrapper .grey-small-text {
        max-width: none;
        padding: 0 15px;
    }

    .rightContentWrapper .small-light-light-blue-text {
        padding: 0 15px;
    }

    .about-managing {
        padding: 30px 0;
        background-image: none;
    }

    .about-mana-para {
        max-width: none;
        padding: 0 15px;
    }

    .aboutthreeround {
        padding: 30px 0;
    }

    .centerContentWithButton p {
        max-width: none;
        padding: 0 15px;
    }

    .about-round-wrapper {
        margin: 0 0;
        padding: 30px 0;
    }

    .line {
        display: none;
    }

    .about-round-wrapper > ul {
        margin-bottom: 0;
        margin-left: 0;
    }

    .service-main {
        background-image: none;
        background-color: #06112a;
        padding: 30px 0;
    }

    .service-main h1 {
        margin-top: 0;
        font-size: 35px;
    }

    .service-carousel {
        padding: 30px 0;
        min-height: 700px;
    }

    .car-heading {
        margin-top: 0;
        letter-spacing: 1px;
        font-size: 30px;
    }

    .custom-carousel-indicators {
        display: none;
    }

    .carousel-control.left {
        left: 15px;
    }

    .carousel-control.right {
        right: 15px;
    }

    .service-building {
        padding: 30px 15px;
        background-image: none;
        background-color: #10062b;
    }

    .service-before-footer {
        padding: 30px 0;
        background-image: none;
        background-color: #020008;
    }

    .contact-mob {
        font-size: 35px;
        letter-spacing: 1px;
        margin:0;
    }

    .contact {
        padding: 30px 0;
        background-image: none;
    }

    .contact-mob-text {
        margin: 10px 0;
    }

    .privacy-heading-mob{
        font-size: 35px;
    }

    .privacy-main-wrapper {
        padding: 30px 0;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-image: linear-gradient(to right, #00a3ff , #053867);
        box-shadow: 1px 1px 10px rgba(0, 163, 255, 0.5);        
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #00a3ff;
    }

    .indicators-next-pre-line {
        display: none;
    }

    .contact {
        background-color: #071738;
    }

    #container {
        width: 100%;
        height: 200px;
        position: relative;
        top: 0px;
        right: auto;        
    }

    .customtest {
        margin: 30px 30px;
        max-width:300px;
        min-height: 300px;
    }

    .carousel-inner {
        padding: 20px 0;
    }

    .carousel-control.left, .carousel-control.right {
        top:calc(100% - 50px);
    }

    .carousel-inner>.next {
        top: 22px;
   }

}

